.container{
    width: 1200px;
}

body{
    font-size: 20px;
}

ul{
    list-style: none;
}

.info{
    margin-top: 30px;
}

.info__img{
    width: 200px;
    margin-right: 15px;
}

.info__inner{
    background-color: rgba(0, 0, 0, 0.266);
    padding: 15px;
}

.info__list{
    margin-top: 20px;
}