
.container{
    width: 1200px;
}

body{
    font-size: 20px;
    font-family:"STARWARS";
    overflow: hidden
    
}


ul{
    list-style: none;
}


.info__img{
    /* width: 250px; */
    width: 230px;
    object-fit: cover;
    margin-right: 15px;
}

.info{
    background-color: rgba(0, 0, 0, 0.266);
    padding: 20px;
    height: max-content;
    border-radius: 30px;
    
}

.info__list{
    margin-top: 20px;
    padding-left: 20px;
}
li{
    cursor: pointer;
}
.info__list-item{
    border-bottom: 2px solid #ffffff;
    margin-bottom: 5px;
}

h1{
    margin: 50px;
}

h2{
    margin: 20px 0;
}

h1, h2, h3{
    text-align: center;
}


.info__name{
    font-size: 24px;
}