.header__logo{
    font-size: 32px;
    margin-right: 50px;
}
.header{
    margin-top: 5px;
    margin-bottom: 10px;
}

.header__nav-item a{
    margin-right: 30px;
}

.header__nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}